<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>Studying at {{ univ }}</article>
    <article>My hobby is {{ hobby }}</article>
    <article>Things about me: {{ bio }}</article>
    <article>I am {{ age }} years old</article>
    <img src="{{ imgURL }}\img.jpg">
</body>
</html>
